In [43]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import re

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
df = pd.read_csv("/content/drive/MyDrive/FS/CSV/FSX.csv", sep=",")
  
print(df)

         264.0        50.0       492.0      50.0.1     492.0.1        102.0  \
0   300.000000  116.000000  448.000000  116.000000  448.000000   146.000000
1   315.000000  149.000000  433.000000  149.000000  433.000000   169.000000
2   309.000000  173.000000  441.000000  173.000000  441.000000   193.000000
3    54.000000  224.000000  106.000000  224.000000  106.000000   248.000000
4   270.000000  224.000000  324.000000  224.000000  324.000000   248.000000
5   466.000000  224.000000  534.000000  224.000000  534.000000   248.000000
6   653.000000  233.000000  695.000000  233.000000  695.000000   247.000000
7    57.000000  259.000000  159.000000  259.000000  159.000000   275.000000
8   271.000000  261.000000  373.000000  261.000000  373.000000   275.000000
9   466.000000  252.000000  556.000000  252.000000  556.000000   276.000000
10  629.000000  259.000000  697.000000  259.000000  697.000000   275.000000
11   57.000000  277.000000  163.000000  277.000000  163.000000   293.000000
12  271.000000  279.000000  385.000000  279.000000  385.000000   293.000000
13  469.000000  281.000000  503.000000  281.000000  503.000000   301.000000
14  633.000000  287.000000  695.000000  287.000000  695.000000   303.000000
15   57.000000  295.000000  163.000000  295.000000  163.000000   311.000000
16  271.000000  295.000000  395.000000  295.000000  395.000000   311.000000
17  468.000000  306.000000  532.000000  306.000000  532.000000   330.000000
18  629.000000  313.000000  695.000000  313.000000  695.000000   329.000000
19   62.000000  366.000000   94.000000  366.000000   94.000000   392.000000
20  224.000000  366.000000  318.000000  366.000000  318.000000   392.000000
21  444.000000  366.000000  526.000000  366.000000  526.000000   392.000000
22  626.000000  366.000000  688.000000  366.000000  688.000000   392.000000
23  123.000000  407.000000  177.000000  407.000000  177.000000   423.000000
24  217.000000  409.000000  281.000000  409.000000  281.000000   423.000000
25  483.000000  407.000000  525.000000  407.000000  525.000000   421.000000
26  645.000000  407.000000  689.000000  407.000000  689.000000   423.000000
27  123.000000  435.000000  247.000000  435.000000  247.000000   453.000000
28  483.000000  435.000000  525.000000  435.000000  525.000000   451.000000
29  645.000000  435.000000  689.000000  435.000000  689.000000   451.000000
30  123.000000  465.000000  209.000000  465.000000  209.000000   481.000000
31  489.000000  465.000000  525.000000  465.000000  525.000000   481.000000
32  647.000000  465.000000  689.000000  465.000000  689.000000   479.000000
33  475.000000  503.000000  525.000000  503.000000  525.000000   517.000000
34  629.000000  503.000000  689.000000  503.000000  689.000000   517.000000
35  457.000000  529.000000  525.000000  529.000000  525.000000   543.000000
36  635.000000  529.000000  689.000000  529.000000  689.000000   543.000000
37  468.000000  562.000000  526.000000  562.000000  526.000000   590.000000
38  584.000000  560.000000  690.000000  560.000000  690.000000   592.000000
39  523.000000  631.000000  706.000000  631.000000  706.000000   720.000000
40   55.000000  883.000000  187.000000  883.000000  187.000000   903.000000
41  458.000000  878.000000  610.000000  878.000000  610.000000   926.000000
42   57.000000  913.000000  231.000000  913.000000  231.000000   929.000000
43  608.000000  882.000000  704.000000  882.000000  704.000000   932.000000
44   57.000000  949.000000  167.000000  949.000000  167.000000   965.000000
45   57.000000  967.000000  217.000000  967.000000  217.000000   983.000000
46   57.000000  985.000000  237.000000  985.000000  237.000000  1003.000000
47  176.985960  404.276132  219.943041  409.526088  218.014040   424.723868
48  207.256706  467.331035  231.777245  463.370802  233.743294   477.668965

       264.0.1      102.0.1                        INVOICE  0
0   300.000000   146.000000                 SAFFRON DESIGN  0
1   315.000000   169.000000                77 NAMRATA BLDC  0
2   309.000000   193.000000            DELHI; DELHI 400077  0
3    54.000000   248.000000                        BILL TO  0
4   270.000000   248.000000                        SHIP TO  0
5   466.000000   248.000000                      INVOICE #  0
6   653.000000   247.000000                         IN-001  0
7    57.000000   275.000000                Kavindra Mannan  0
8   271.000000   275.000000                Kavindra Mannan  0
9   466.000000   276.000000                   INVOICE DATE  0
10  629.000000   275.000000                     29/01/2019  0
11   57.000000   293.000000           27 , Dlf City, Gupla  0
12  271.000000   293.000000             264 , Abdul Rehman  0
13  469.000000   301.000000                           PO.#  0
14  633.000000   303.000000                      2430/2019  0
15   57.000000   311.000000             Delhi, Delhi 40003  0
16  271.000000   311.000000            Mumbai, Blhar 40009  0
17  468.000000   330.000000                       DUE DATE  0
18  629.000000   329.000000                     26104/2019  0
19   62.000000   392.000000                            QTY  0
20  224.000000   392.000000                    DESCRIPTION  0
21  444.000000   392.000000                     UNIT PRICE  0
22  626.000000   392.000000                         AMOUNT  0
23  123.000000   423.000000                       Frontend  0
24  217.000000   423.000000                    restructure  0
25  483.000000   421.000000                         999.00  0
26  645.000000   423.000000                         999.00  0
27  123.000000   453.000000            Custom icon package  0
28  483.000000   451.000000                         975.00  0
29  645.000000   451.000000                         950.00  0
30  123.000000   481.000000                   Gandhi mouse  0
31  489.000000   481.000000                          99.00  0
32  647.000000   479.000000                         297.00  0
33  475.000000   517.000000                       Subtotal  0
34  629.000000   517.000000                      12,246.00  0
35  457.000000   543.000000                      GST 12.0%  0
36  635.000000   543.000000                       1,469.52  0
37  468.000000   590.000000                          TOTAL  0
38  584.000000   592.000000                     713,715.52  0
39  523.000000   720.000000                       TayChps)  0
40   55.000000   903.000000             TERMS & CONDITIONS  0
41  458.000000   926.000000                          Thank  0
42   57.000000   929.000000  Payment is due within 15 days  0
43  608.000000   932.000000                            you  0
44   57.000000   965.000000            Stale Bank of India  0
45   57.000000   983.000000       Account Number: 12345678  0
46   57.000000  1003.000000    Rouling Number: 09876543210  0
47  175.056959   420.473912                       design =  0
48  209.222755   481.629198                            pad  0

In [45]:
#doctype: 0-Invoice 1-Financial Statement
doctype = 0
df.columns = ['x1','y1','x2','y2','x3','y3','x4','y4','label','page']
df['label'] = df['label'].str.lower()
print(df)
#print(df["label"])
labels = pd.DataFrame()
labelsyr = pd.DataFrame()
labelsb = pd.DataFrame()

y_content= []#contains elements to search on y axis (top to bottom) and find data on grid with x_content
x_content = []#contains elements to search on x axis (left to right) and find data on grid with y_content
beside_content = ['invoice','total','date','address','due date','bill to','p.o. number']#contains elements to search and obtain data that is beside them

for i in y_content:
  
  temp = df.loc[df['label'].str.contains(i)]
  labels = pd.concat([labels,temp])
#print(labels)


for i in x_content:
  
  tempyr = df.loc[df['label']==i] #.str.contains(i)]
  labelsyr = pd.concat([labelsyr,tempyr])
#print(labelsyr)

if doctype == 0:
  for i in beside_content:
    
    tempb = df.loc[df['label'].str.contains(i)]
    labelsb = pd.concat([labelsb,tempb])
  #labelsb = labelsb.loc[~labelsb['label'].str.contains(' ')] #USE ONLY IF THE FIELDS SHOULD BE PERFECTLY EQUAL IE. HAVE NO OTHER WORDS WITH THEM
  print(labelsb)
  labelsb.reset_index()

labels.reset_index()
labelsyr.reset_index()


newl = pd.DataFrame()
newlyr = pd.DataFrame()


for ind in labels.index:
  for ind2 in labelsyr.index:
    
    
    if(labels['page'][ind]==labelsyr['page'][ind2]):
      
      x1 = labels.loc[labels.index == ind]
      newl= pd.concat([newl,x1])

      x2 = labelsyr.loc[labelsyr.index == ind2]
      newlyr= pd.concat([newlyr,x2])
      newl = newl.drop_duplicates(keep = 'first')
      newlyr = newlyr.drop_duplicates(keep = 'first')

      


#print(newl)
#print(newlyr)

            x1          y1          x2          y2          x3           y3  \
0   300.000000  116.000000  448.000000  116.000000  448.000000   146.000000
1   315.000000  149.000000  433.000000  149.000000  433.000000   169.000000
2   309.000000  173.000000  441.000000  173.000000  441.000000   193.000000
3    54.000000  224.000000  106.000000  224.000000  106.000000   248.000000
4   270.000000  224.000000  324.000000  224.000000  324.000000   248.000000
5   466.000000  224.000000  534.000000  224.000000  534.000000   248.000000
6   653.000000  233.000000  695.000000  233.000000  695.000000   247.000000
7    57.000000  259.000000  159.000000  259.000000  159.000000   275.000000
8   271.000000  261.000000  373.000000  261.000000  373.000000   275.000000
9   466.000000  252.000000  556.000000  252.000000  556.000000   276.000000
10  629.000000  259.000000  697.000000  259.000000  697.000000   275.000000
11   57.000000  277.000000  163.000000  277.000000  163.000000   293.000000
12  271.000000  279.000000  385.000000  279.000000  385.000000   293.000000
13  469.000000  281.000000  503.000000  281.000000  503.000000   301.000000
14  633.000000  287.000000  695.000000  287.000000  695.000000   303.000000
15   57.000000  295.000000  163.000000  295.000000  163.000000   311.000000
16  271.000000  295.000000  395.000000  295.000000  395.000000   311.000000
17  468.000000  306.000000  532.000000  306.000000  532.000000   330.000000
18  629.000000  313.000000  695.000000  313.000000  695.000000   329.000000
19   62.000000  366.000000   94.000000  366.000000   94.000000   392.000000
20  224.000000  366.000000  318.000000  366.000000  318.000000   392.000000
21  444.000000  366.000000  526.000000  366.000000  526.000000   392.000000
22  626.000000  366.000000  688.000000  366.000000  688.000000   392.000000
23  123.000000  407.000000  177.000000  407.000000  177.000000   423.000000
24  217.000000  409.000000  281.000000  409.000000  281.000000   423.000000
25  483.000000  407.000000  525.000000  407.000000  525.000000   421.000000
26  645.000000  407.000000  689.000000  407.000000  689.000000   423.000000
27  123.000000  435.000000  247.000000  435.000000  247.000000   453.000000
28  483.000000  435.000000  525.000000  435.000000  525.000000   451.000000
29  645.000000  435.000000  689.000000  435.000000  689.000000   451.000000
30  123.000000  465.000000  209.000000  465.000000  209.000000   481.000000
31  489.000000  465.000000  525.000000  465.000000  525.000000   481.000000
32  647.000000  465.000000  689.000000  465.000000  689.000000   479.000000
33  475.000000  503.000000  525.000000  503.000000  525.000000   517.000000
34  629.000000  503.000000  689.000000  503.000000  689.000000   517.000000
35  457.000000  529.000000  525.000000  529.000000  525.000000   543.000000
36  635.000000  529.000000  689.000000  529.000000  689.000000   543.000000
37  468.000000  562.000000  526.000000  562.000000  526.000000   590.000000
38  584.000000  560.000000  690.000000  560.000000  690.000000   592.000000
39  523.000000  631.000000  706.000000  631.000000  706.000000   720.000000
40   55.000000  883.000000  187.000000  883.000000  187.000000   903.000000
41  458.000000  878.000000  610.000000  878.000000  610.000000   926.000000
42   57.000000  913.000000  231.000000  913.000000  231.000000   929.000000
43  608.000000  882.000000  704.000000  882.000000  704.000000   932.000000
44   57.000000  949.000000  167.000000  949.000000  167.000000   965.000000
45   57.000000  967.000000  217.000000  967.000000  217.000000   983.000000
46   57.000000  985.000000  237.000000  985.000000  237.000000  1003.000000
47  176.985960  404.276132  219.943041  409.526088  218.014040   424.723868
48  207.256706  467.331035  231.777245  463.370802  233.743294   477.668965

            x4           y4                          label  page
0   300.000000   146.000000                 saffron design     0
1   315.000000   169.000000                77 namrata bldc     0
2   309.000000   193.000000            delhi; delhi 400077     0
3    54.000000   248.000000                        bill to     0
4   270.000000   248.000000                        ship to     0
5   466.000000   248.000000                      invoice #     0
6   653.000000   247.000000                         in-001     0
7    57.000000   275.000000                kavindra mannan     0
8   271.000000   275.000000                kavindra mannan     0
9   466.000000   276.000000                   invoice date     0
10  629.000000   275.000000                     29/01/2019     0
11   57.000000   293.000000           27 , dlf city, gupla     0
12  271.000000   293.000000             264 , abdul rehman     0
13  469.000000   301.000000                           po.#     0
14  633.000000   303.000000                      2430/2019     0
15   57.000000   311.000000             delhi, delhi 40003     0
16  271.000000   311.000000            mumbai, blhar 40009     0
17  468.000000   330.000000                       due date     0
18  629.000000   329.000000                     26104/2019     0
19   62.000000   392.000000                            qty     0
20  224.000000   392.000000                    description     0
21  444.000000   392.000000                     unit price     0
22  626.000000   392.000000                         amount     0
23  123.000000   423.000000                       frontend     0
24  217.000000   423.000000                    restructure     0
25  483.000000   421.000000                         999.00     0
26  645.000000   423.000000                         999.00     0
27  123.000000   453.000000            custom icon package     0
28  483.000000   451.000000                         975.00     0
29  645.000000   451.000000                         950.00     0
30  123.000000   481.000000                   gandhi mouse     0
31  489.000000   481.000000                          99.00     0
32  647.000000   479.000000                         297.00     0
33  475.000000   517.000000                       subtotal     0
34  629.000000   517.000000                      12,246.00     0
35  457.000000   543.000000                      gst 12.0%     0
36  635.000000   543.000000                       1,469.52     0
37  468.000000   590.000000                          total     0
38  584.000000   592.000000                     713,715.52     0
39  523.000000   720.000000                       taychps)     0
40   55.000000   903.000000             terms & conditions     0
41  458.000000   926.000000                          thank     0
42   57.000000   929.000000  payment is due within 15 days     0
43  608.000000   932.000000                            you     0
44   57.000000   965.000000            stale bank of india     0
45   57.000000   983.000000       account number: 12345678     0
46   57.000000  1003.000000    rouling number: 09876543210     0
47  175.056959   420.473912                       design =     0
48  209.222755   481.629198                            pad     0
       x1     y1     x2     y2     x3     y3     x4     y4         label  page
5   466.0  224.0  534.0  224.0  534.0  248.0  466.0  248.0     invoice #     0
9   466.0  252.0  556.0  252.0  556.0  276.0  466.0  276.0  invoice date     0
33  475.0  503.0  525.0  503.0  525.0  517.0  475.0  517.0      subtotal     0
37  468.0  562.0  526.0  562.0  526.0  590.0  468.0  590.0         total     0
9   466.0  252.0  556.0  252.0  556.0  276.0  466.0  276.0  invoice date     0
17  468.0  306.0  532.0  306.0  532.0  330.0  468.0  330.0      due date     0
17  468.0  306.0  532.0  306.0  532.0  330.0  468.0  330.0      due date     0
3    54.0  224.0  106.0  224.0  106.0  248.0   54.0  248.0       bill to     0

In [46]:
def compc(x,y):
  c= 20
  c1 = y + c
  c2 = y - c
  if (c2 < x) and (c1 > x):
    return True
  else:
    return False

In [47]:
#EXECUTE IF X AND Y GRID VALUES ARE NEEDED

needed = []

for ind in newl.index:
  for ind2 in newlyr.index:
    
     
    if (newl['page'][ind]==newlyr['page'][ind2]):
      
      y1 = newl['y1'][ind]
      y3 = newl['y3'][ind]
      x1 = newlyr['x1'][ind2]
      x3 = newlyr['x3'][ind2]
      
      valuedf = df.loc[df['page']==newl['page'][ind]]
      valuedf['label'] = valuedf['label'].replace([','],'', regex =True)
      valuedf = valuedf.loc[valuedf['label'].astype(str).str.isdigit()]
      
      for i in valuedf.index:
        x1v = valuedf['x1'][i]
        x3v = valuedf['x3'][i]
        y1v = valuedf['y1'][i]
        y3v = valuedf['y3'][i]
        ans = False
        
        ans =  compc(y1v, y1) and compc(y3v, y3) and ( compc(x1v, x1) or compc(x3v, x3))
        
        

        
        if ans:
          needed.append([newl['label'][ind], valuedf['label'][i], newlyr['label'][ind2], newl['page'][ind] ])


print(needed)
print()

[]

In [48]:
if doctype ==1:
  formulalist = [0] * len(y_content)
  for i in range(len(y_content)):
    for j in needed:
      if y_content[i] in j[0]:
        if i < len(formulalist):
          formulalist[i] = int(j[1])
        else:
          if(int(j[1]) > int(formulalist[i])):
            formulalist[i] = int(j[1])

  fs = formulalist
  if(doctype == 1):
    ebitda = (fs [0] + fs [1] + fs [2] + fs [3] )/ fs[4]
    print('EBITDA = '+ str(ebitda))
    print('\nCompany Profitablity:')
    if(ebitda< 0.03):
      print('Sick')
    elif(ebitda< 0.05):
      print('Unhealthy')
    elif(ebitda< 0.08):
      print('Average')
    elif(ebitda< 0.11):
      print('Healthy')
    else:
      print('Great')

  elif(doctype == 0):
    for i in needed:
      print(str(i[0]) + '\t' + str(i[1]))

In [49]:
if doctype ==0:
  besideit=[]
  labelsb.reset_index(drop =True,inplace = True)
  
  df.reset_index(drop=True, inplace = True)
  
  for ind in labelsb.index:
    
    subdf = df.loc[df['page']==labelsb['page'][ind]]
    y1 = labelsb['y1'][ind]
    y3 = labelsb['y3'][ind]
    for ind2 in subdf.index:
      y1v = subdf['y1'][ind2]
      y3v = subdf['y3'][ind2]
      ans = False
      if doctype == 0 and ind != ind2 and labelsb['label'][ind]!=subdf['label'][ind2]:
        ans =  compc(y1v, y1) and compc(y3v, y3)
      if ans:
        besideit.append([labelsb['label'][ind], subdf['label'][ind2], labelsb['page'][ind] ])

  bit = pd.DataFrame(besideit, columns = ['beside', 'data', 'page'])
  bit = bit.loc[~bit['data'].str.contains(' ')]
  bit['data'] = bit['data'].replace([','],'', regex =True)
  bit['data'] = bit['data'].replace(['\...'],'', regex =True)
  #bit = bit.loc[bit['data'].astype(str).str.isnumeric()]
  print(bit)
  print('----------------------------------------------------')
  print(labelsb['label'])

          beside        data  page
2      invoice #      in-001     0
5   invoice date  29/01/2019     0
6       subtotal       12246     0
7          total      713715     0
10  invoice date  29/01/2019     0
13      due date  26104/2019     0
16      due date  26104/2019     0
19       bill to      in-001     0
----------------------------------------------------
0       invoice #
1    invoice date
2        subtotal
3           total
4    invoice date
5        due date
6        due date
7         bill to
Name: label, dtype: object